.navbar-brand
{
    font-weight: bold;
    font-size: 2rem;
    margin-right: 10rem;
    margin-left: 2rem;
}

.nav-item
{
    font-size: 1.2rem;
    font-weight: 500;
    margin-left: 1rem;
}

.d-flex
{
    margin-left: 6rem;
}

.btn>a{
    text-decoration: none;
    color: white;
}